.containerContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.containerContact h2 {
  color: #86dc3d;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

.containerContact p {
  font-size: 1.3rem;
  text-align: center;
  margin: 0 8rem;
}
.subContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem auto;
  align-items: center;
  width: 80%;
}

.info {
  flex: 1;
  margin-top: 4rem;
}

.info > div {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}

.info > div:hover {
  color: #86dc3d;
}

.info > div svg {
  margin-right: 1rem;
  font-size: 50px;
}

.info > div > a{
  text-decoration: none;
  color: #f5f5f5;
}

@media (max-width: 768px) {
  .containerContact p {
    margin: 0;
  }
  .subContainer {
    flex-direction: column;
  }

  .info {
    margin: 0;
  }

  .form {
    padding: 0;
  }
}
