.form {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 50px;
    min-width: 300px;
    width: 80%;
    text-align: center;
  }
  
  .form > input {
    width: 80%;
    margin: 1rem 0rem;
    padding: 1rem;
    background-color: #86dc3d;
  }
  
  .form textarea {
    width: 80%;
    height: 10rem;
    background-color: #86dc3d;
  }
  
  .form > button {
    width: 70%;
    border-radius: 2rem;
    border-color: #2c2c2c;
    padding: 1rem 1.5rem;
    background-color: #f5f5f5;
    color: #2c2c2c;
    margin: 1rem 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .form > button:hover {
    background-color: #86dc3d;
    color: #f5f5f5;
  }

    .form > button:disabled,
    .form > button:disabled:hover,
    .form > button:disabled:active {
    background-color: rgb(148, 124, 124);
    border-color: rgb(148, 124, 124);
    color: var(--primary);
    cursor: not-allowed;
    }

  .invalidInput {
    background-color: rgb(247, 186, 186) !important;
  }
  
  .invalidText {
    color: red;
  }

  @media (max-width: 768px) {
    .form {
      padding: 0;
    }
  }
  